<div {{bind-attr title='content.name'}}
     {{bind-attr class=":media-item :file :clearfix isCurrent:selected"}}
     {{bind-attr style="content.getBackgroundImage"}}
     {{action 'showDetails' content}}>
  <div class="spacer">
    {{#unless content.isImage}}
      <i class="fa fa-file-o"></i>
    {{/unless}}
  </div>
  <div class="caption">
    <div class="size">{{content.humanSize}}</div>
    <div class="filename">{{content.name}}</div>
  </div>
</div>